



<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Mac價目表</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>

    </tr>

  </tbody>
</table>