@model IEnumerable<Web_AppleBar.Models.IPhoneRepair_BatteryRepaire>

    <div class="site-canvas">
        <div class="main-wrap">
            <div id="wsite-content" class="wsite-elements wsite-not-footer">
                <div class="wsite-section-wrap">
                    <div class="wsite-section wsite-body-section wsite-section-bg-color wsite-background-11" style="height: auto;background-color: #ffffff;background-image: none;">
                        <div class="wsite-section-content">
                            <div class="container">
                                <div class="wsite-section-elements">
                                    <div class="wsite-multicol">
                                        <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                                            <table class="wsite-multicol-table">
                                                <tbody class="wsite-multicol-tbody">
                                                    <tr class="wsite-multicol-tr">
                                                        <td class="wsite-multicol-col" style="width:62.222222222222%; padding:0 15px;">
                                                            <h2 class="wsite-content-title" style="text-align:left;"><font color="#c2743b" size="6"><strong>專業判斷iPhone電池是否該更換的標準流程</strong></font></h2>
                                                        </td>
                                                        <td class="wsite-multicol-col" style="width:37.777777777778%; padding:0 15px;">
                                                            <div class="paragraph" style="text-align:left;"><font color="#c23b3b" size="4">＊ 支援iOS 11.3電池健康度偵測 ＊</font><br><span><font color="#2a2a2a" size="4">技術嚴謹堅持，全程安心，保固卡保障長！</font></span></div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    @foreach (var item in Model)
                                    {
                                        <div>
                                            <div style="height: 10px; overflow: hidden; width: 100%;"></div>
                                            <hr class="styled-hr" style="width:100%;">
                                            <div style="height: 10px; overflow: hidden; width: 100%;"></div>
                                        </div>
                                        <h2 class="wsite-content-title" style="text-align:left;"><strong><font color="#2a2a2a" size="5">@item.Title</font></strong></h2>
                                        <div class="wsite-multicol">
                                            <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                                                <table class="wsite-multicol-table">
                                                    <tbody class="wsite-multicol-tbody">
                                                        <tr class="wsite-multicol-tr">
                                                            <td class="wsite-multicol-col" style="width:28.717948717949%; padding:0 15px;">
                                                                <div class="wsite-image wsite-image-border-none " style="padding-top:0px;padding-bottom:0px;margin-left:0px;margin-right:0px;text-align:left">
                                                                    <a>
                                                                        <img src="CSS/1-1_2.png" alt="iPhone收機前初步評估" style="width:auto;max-width:100%">
                                                                    </a>
                                                                    <div style="display:block;font-size:90%"></div>
                                                                </div>
                                                            </td>
                                                            <td class="wsite-multicol-col" style="width:71.282051282051%; padding:0 15px;">
                                                                <div class="paragraph" style="text-align:left;"><font size="4">@item.Contents</font></div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end main-wrap -->
    </div>

