@model IEnumerable<Web_AppleBar.Models.IPhoneRepair_BatteryRepaire>

    <div class="site-canvas">
        <div class="main-wrap">
            <div id="wsite-content" class="wsite-elements wsite-not-footer">
                <div class="wsite-section-wrap">
                    <div class="wsite-section wsite-body-section wsite-section-bg-color wsite-background-11" style="height: auto;background-color: #ffffff;background-image: none;">
                        <div class="wsite-section-content">
                            <div class="container">
                                <div class="wsite-section-elements">
                                    <div>
                                        <div class="wsite-multicol">
                                            <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                                                <table class="wsite-multicol-table">
                                                    <tbody class="wsite-multicol-tbody">
                                                        <tr class="wsite-multicol-tr">
                                                            <td class="wsite-multicol-col" style="width:62.222222222222%; padding:0 15px;">
                                                                <h2 class="wsite-content-title" style="text-align:left;"><font color="#c2743b" size="6"><strong>專業判斷iPhone電池是否該更換的標準流程</strong></font></h2>
                                                            </td>
                                                            <td class="wsite-multicol-col" style="width:37.777777777778%; padding:0 15px;">
                                                                <div class="paragraph" style="text-align:left;"><font color="#c23b3b" size="4">＊ 支援iOS 11.3電池健康度偵測 ＊</font><br><span><font color="#2a2a2a" size="4">技術嚴謹堅持，全程安心，保固卡保障長！</font></span></div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div style="text-align:right;">
                                        <div style="height: 0px; overflow: hidden;"></div>
                                        <a class="wsite-button wsite-button-large wsite-button-normal" href="https://www.ai3c.com.tw/24215387543603935338.html">
                                            <span class="wsite-button-inner"><span>&nbsp;優惠折扣中：</span>Mac/<span>i</span>Phone換電池，歡迎洽各分店(快點我...)</span>
                                        </a>
                                        <div style="height: 0px; overflow: hidden;"></div>
                                    </div>

                                    @foreach (var item in Model)
                                    {
                                        <div>
                                            <div style="height: 10px; overflow: hidden; width: 100%;"></div>
                                            <hr class="styled-hr" style="width:100%;">
                                            <div style="height: 10px; overflow: hidden; width: 100%;"></div>
                                        </div>
                                        <h2 class="wsite-content-title" style="text-align:left;"><strong><font color="#2a2a2a" size="5">@item.Title</font></strong></h2>
                                        <div class="wsite-multicol">
                                            <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                                                <table class="wsite-multicol-table">
                                                    <tbody class="wsite-multicol-tbody">
                                                        <tr class="wsite-multicol-tr">
                                                            <td class="wsite-multicol-col" style="width:28.717948717949%; padding:0 15px;">
                                                                <div class="wsite-image wsite-image-border-none " style="padding-top:0px;padding-bottom:0px;margin-left:0px;margin-right:0px;text-align:left">
                                                                    <a>
                                                                        <img src="CSS/1-1_2.png" alt="iPhone收機前初步評估" style="width:auto;max-width:100%">
                                                                    </a>
                                                                    <div style="display:block;font-size:90%"></div>
                                                                </div>
                                                            </td>
                                                            <td class="wsite-multicol-col" style="width:71.282051282051%; padding:0 15px;">
                                                                <div class="paragraph" style="text-align:left;"><font size="4">@item.Contents</font></div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    }

                                    <div>
                                        <div class="wsite-multicol">
                                            <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                                                <table class="wsite-multicol-table">
                                                    <tbody class="wsite-multicol-tbody">
                                                        <tr class="wsite-multicol-tr">
                                                            <td class="wsite-multicol-col" style="width:80.17094017094%; padding:0 15px;">



                                                                <h2 class="wsite-content-title"><font color="#3f3f3f">🌟</font><font color="#a82e2e">在ai3C維修拆裝，換完電池會不會影響iPhone的防水功能？</font><br><font color="#3f3f3f">・ 對於iPhone 7以上具備防潑水的機型，ai3C完修後會一併更新面板與機身防潑水套件，不影響其防潑水性能，除非原先已撞凹變形等破壞其密合度。</font></h2>



                                                            </td>
                                                            <td class="wsite-multicol-col" style="width:19.82905982906%; padding:0 15px;">



                                                                <div>
                                                                    <div class="wsite-image wsite-image-border-none " style="padding-top:5px;padding-bottom:5px;margin-left:0px;margin-right:0px;text-align:right">
                                                                        <a href="https://line.me/R/ti/p/%40hcn2016j" target="_blank">
                                                                            <img src="CSS/1-line_2.jpg" alt="圖片" style="width:auto;max-width:100%">
                                                                        </a>
                                                                        <div style="display:block;font-size:90%"></div>
                                                                    </div>
                                                                </div>

                                                                <div>
                                                                    <div class="wsite-image wsite-image-border-none " style="padding-top:5px;padding-bottom:5px;margin-left:0px;margin-right:0px;text-align:right">
                                                                        <a href="https://www.facebook.com/ai3C.Repair/" target="_blank">
                                                                            <img src="CSS/1-ai3c-fb-01_5.png" alt="圖片" style="width:auto;max-width:100%">
                                                                        </a>
                                                                        <div style="display:block;font-size:90%"></div>
                                                                    </div>
                                                                </div>



                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="wsite-section-wrap">
                    <div class="wsite-section wsite-body-section wsite-section-bg-color wsite-background-12" style="vertical-align: top;height: auto;background-color: #faf9d8;background-image: none;">
                        <div class="wsite-section-content">
                            <div class="container">
                                <div class="wsite-section-elements">
                                    <h2 class="wsite-content-title"><font size="5" style="color:rgb(168, 46, 46)">​更換iPhone電池- 維修時間要多久？</font><br><font color="#3387a2">坊間店家求快/求生意上門，打出更換電池時間只要10分鐘！但為何ai3C要說iPhone換電池需要30分鐘？因為我們更用心、更嚴謹！請看ai3C換iPhone電池的六大堅持：</font></h2>

                                    <div class="paragraph" style="text-align:left;"><font size="3" style="color:rgb(42, 42, 42)">1. <strong>快速精確</strong>：</font><font size="3" style="color:rgb(42, 42, 42)">收件檢測蘋果</font><span style="color:rgb(63, 63, 63)">iPhone</span><font size="3" style="color:rgb(42, 42, 42)">電池及主板是否老化漏電，</font><u style="color:rgb(42, 42, 42)"><strong><span style="color:rgb(63, 63, 63)">電池</span></strong></u><font size="3" style="color:rgb(42, 42, 42)"><u><strong>更</strong></u></font><u style="color:rgb(42, 42, 42)"><strong><span style="color:rgb(63, 63, 63)">換</span></strong></u><font size="3" style="color:rgb(42, 42, 42)"><u><strong>30分鐘</strong></u>。</font><br><span style="color:rgb(42, 42, 42)">2. </span><strong style="color:rgb(42, 42, 42)">檢測不收費</strong><span style="color:rgb(42, 42, 42)">：Apple iPhone手機</span><u style="color:rgb(42, 42, 42)"><strong>不收檢測費</strong></u><span style="color:rgb(42, 42, 42)">，釐清故障問題，</span><u style="color:rgb(42, 42, 42)">報價經您同意後才維修</u><span style="color:rgb(42, 42, 42)">。</span><br><font size="3" style="color:rgb(42, 42, 42)">3. <strong>高品質零件</strong>：更換</font><font size="3" style="color:rgb(42, 42, 42)">iPhone電池為&nbsp;<u><strong>高規格(零循環，容量誤差3%內) BSMI認證電池</strong></u></font><br><font size="3" style="color:rgb(42, 42, 42)">4. <strong>保固長</strong>：凡維修更換</font><font color="#3f3f3f">&nbsp;</font><font size="3" style="color:rgb(42, 42, 42)">iPhone電池，都有</font><u style="color:rgb(42, 42, 42)"><strong>經濟部標準檢驗局合格</strong></u><font size="3" style="color:rgb(42, 42, 42)"><u><strong>BSMI認證</strong></u>，開立保固卡，<u><strong>保固180天，優於Apple原廠</strong></u>！</font><br><font size="3" style="color:rgb(42, 42, 42)">5. <strong>技術專業/最嚴謹完整</strong>：換</font><font color="#3f3f3f">&nbsp;</font><font size="3" style="color:rgb(42, 42, 42)">iPhone電池同時會<u><strong>檢測主板有無明顯漏電</strong></u>，預防iPhone主機板老化造成手機電池更快耗損。</font><br><span style="color:rgb(42, 42, 42)">6. </span><strong style="color:rgb(42, 42, 42)">安心您看得到</strong><span style="color:rgb(42, 42, 42)">：交機時會與您確認&nbsp;</span><strong style="color:rgb(42, 42, 42)"><u>iPhone新電池的『循環數』及『容量』...等健康度</u></strong><span style="color:rgb(42, 42, 42)">，確保您的權益，以及Apple iPhone使用穩定性。</span><br></div>

                                    <div>
                                        <div class="wsite-multicol">
                                            <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                                                <table class="wsite-multicol-table">
                                                    <tbody class="wsite-multicol-tbody">
                                                        <tr class="wsite-multicol-tr">
                                                            <td class="wsite-multicol-col" style="width:50%; padding:0 15px;">



                                                                <div class="paragraph"><span style="color:rgb(12, 5, 251)"><font size="4">＊不用回Apple原廠慢慢等也無需清空資料，不用拆保護貼！快來預約~</font></span></div>



                                                            </td>
                                                            <td class="wsite-multicol-col" style="width:50%; padding:0 15px;">



                                                                <div style="text-align:right;">
                                                                    <div style="height: 0px; overflow: hidden;"></div>
                                                                    <a class="wsite-button wsite-button-large wsite-button-normal" href="https://www.ai3c.com.tw/24215387543603935338.html">
                                                                        <span class="wsite-button-inner">優惠折扣中：Mac/iPhone換電池，快洽各分店(連結...)</span>
                                                                    </a>
                                                                    <div style="height: 0px; overflow: hidden;"></div>
                                                                </div>



                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="wsite-section-wrap">
                    <div class="wsite-section wsite-body-section wsite-background-155">
                        <div class="wsite-section-content">
                            <div class="container">
                                <div class="wsite-section-elements">
                                    <h2 class="wsite-content-title" style="text-align:left;">簡單自我判斷電池是否該維修<font size="6">(開啟iPhone設定查看)</font></h2>

                                    <div>
                                        <div class="wsite-image wsite-image-border-none " style="padding-top:0px;padding-bottom:0px;margin-left:0px;margin-right:0px;text-align:center">
                                            <a>
                                                <img src="CSS/1_83_orig.png" alt="電池維修簡易判斷3大指標" style="width:auto;max-width:100%">
                                            </a>
                                            <div style="display:block;font-size:90%"></div>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="wsite-multicol">
                                            <div class="wsite-multicol-table-wrap" style="margin:0 -0px;">
                                                <table class="wsite-multicol-table">
                                                    <tbody class="wsite-multicol-tbody">
                                                        <tr class="wsite-multicol-tr">
                                                            <td class="wsite-multicol-col" style="width:28.641732283465%; padding:0 0px;">



                                                                <div>
                                                                    <div class="wsite-image wsite-image-border-none " style="padding-top:3px;padding-bottom:0px;margin-left:0px;margin-right:0px;text-align:center">
                                                                        <a href="https://www.ai3c.com.tw/charge_battery.html">
                                                                            <img src="CSS/1_81.png" alt="蘋果手機.蘋果電腦正確的充電方式" style="width:auto;max-width:100%">
                                                                        </a>
                                                                        <div style="display:block;font-size:90%"></div>
                                                                    </div>
                                                                </div>



                                                            </td>
                                                            <td class="wsite-multicol-col" style="width:23.818897637795%; padding:0 0px;">



                                                                <div>
                                                                    <div class="wsite-image wsite-image-border-medium " style="padding-top:0px;padding-bottom:0px;margin-left:0px;margin-right:0px;text-align:center">
                                                                        <a href="https://www.ai3c.com.tw/iphone.html">
                                                                            <img src="CSS/1-ai3c-iphone-01_4.png" alt="iPhone維修其他項目" style="width:auto;max-width:100%">
                                                                        </a>
                                                                        <div style="display:block;font-size:90%"></div>
                                                                    </div>
                                                                </div>



                                                            </td>
                                                            <td class="wsite-multicol-col" style="width:23.720472440945%; padding:0 0px;">



                                                                <div>
                                                                    <div class="wsite-image wsite-image-border-medium " style="padding-top:0px;padding-bottom:0px;margin-left:0px;margin-right:0px;text-align:center">
                                                                        <a href="https://www.ai3c.com.tw/ipad3217320462.html">
                                                                            <img src="CSS/1-ai3c-ipad-01_4.png" alt="Apple iPad維修" style="width:auto;max-width:100%">
                                                                        </a>
                                                                        <div style="display:block;font-size:90%"></div>
                                                                    </div>
                                                                </div>



                                                            </td>
                                                            <td class="wsite-multicol-col" style="width:23.818897637795%; padding:0 0px;">



                                                                <div>
                                                                    <div class="wsite-image wsite-image-border-medium " style="padding-top:0px;padding-bottom:0px;margin-left:0px;margin-right:0px;text-align:center">
                                                                        <a href="https://www.ai3c.com.tw/macbook3217320462.html">
                                                                            <img src="CSS/1-ai3c-mac-01_3.png" alt="Apple Mac維修 / MacBook維修" style="width:auto;max-width:100%">
                                                                        </a>
                                                                        <div style="display:block;font-size:90%"></div>
                                                                    </div>
                                                                </div>



                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div><!-- end main-wrap -->

        <div class="footer-wrap">
            <div class="container">
                <div class="footer">
                    <div class="wsite-elements wsite-footer">
                        <div>
                            <div class="wsite-multicol">
                                <div class="wsite-multicol-table-wrap" style="margin:0 -5px;">
                                    <table class="wsite-multicol-table">
                                        <tbody class="wsite-multicol-tbody">
                                            <tr class="wsite-multicol-tr">
                                                <td class="wsite-multicol-col" style="width:19.573643410853%; padding:0 5px;">



                                                    <div>
                                                        <div class="wsite-image wsite-image-border-none " style="padding-top:5px;padding-bottom:5px;margin-left:0px;margin-right:0px;text-align:center">
                                                            <a href="https://line.me/R/ti/p/%40hcn2016j" target="_blank">
                                                                <img src="CSS/1-line_orig.jpg" alt="ai3C官方Line帳號" style="width:auto;max-width:100%">
                                                            </a>
                                                            <div style="display:block;font-size:90%"></div>
                                                        </div>
                                                    </div>

                                                    <div>
                                                        <div class="wsite-image wsite-image-border-none " style="padding-top:0px;padding-bottom:5px;margin-left:0px;margin-right:0px;text-align:center">
                                                            <a href="https://www.facebook.com/ai3C.Repair/" target="_blank">
                                                                <img src="CSS/1-ai3c-fb-01-71_1_orig.jpg" alt="ai3C官方粉絲團" style="width:auto;max-width:100%">
                                                            </a>
                                                            <div style="display:block;font-size:90%"></div>
                                                        </div>
                                                    </div>

                                                    <div class="paragraph" style="text-align:center;"><font size="3">​​​©2012 ai3C. All rights reserved.</font></div>



                                                </td>
                                                <td class="wsite-multicol-col" style="width:16.182170542636%; padding:0 5px;">



                                                    <div>
                                                        <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:center">
                                                            <a href="https://www.ai3c.com.tw/">
                                                                <img src="CSS/1_1_orig.jpg" alt="ai3C八德店店面照" style="width:auto;max-width:100%">
                                                            </a>
                                                            <div style="display:block;font-size:90%"></div>
                                                        </div>
                                                    </div>

                                                    <div class="paragraph" style="text-align:center;"><u><a href="https://www.ai3c.com.tw/208432450324215.html">ai3C八德店 營業時間</a></u><br><a href="https://www.ai3c.com.tw/">​</a>電話：(02)2394-0013</div>

                                                    <div class="paragraph" style="text-align:center;"><a href="https://goo.gl/maps/MDyRiNeNaM1DT1BL8" target="_blank"><span>近忠孝新生捷運站</span><br><u><font size="2">台北市八德路一段46號7樓</font></u></a></div>



                                                </td>
                                                <td class="wsite-multicol-col" style="width:16.085271317829%; padding:0 5px;">



                                                    <div>
                                                        <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:center">
                                                            <a href="https://www.ai3c.com.tw/">
                                                                <img src="CSS/1_2_orig.jpg" alt="ai3C內湖店店面照" style="width:auto;max-width:100%">
                                                            </a>
                                                            <div style="display:block;font-size:90%"></div>
                                                        </div>
                                                    </div>

                                                    <div class="paragraph" style="text-align:center;"><a href="https://www.ai3c.com.tw/208392824624215.html"><u>ai3C內湖店 營業時間</u></a><br><a href="https://www.ai3c.com.tw/">​</a><span>電話：(02)8751-3395</span></div>

                                                    <div class="paragraph" style="text-align:center;"><a href="https://goo.gl/maps/dBtQJq7pegY6HRnm7" target="_blank">近港墘站/737夜市<br><u>台北內湖區港墘路63號</u></a></div>



                                                </td>
                                                <td class="wsite-multicol-col" style="width:16.279069767442%; padding:0 5px;">



                                                    <div>
                                                        <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:center">
                                                            <a href="https://www.ai3c.com.tw/">
                                                                <img src="CSS/1_21_orig.jpg" alt="ai3C板橋店店面照" style="width:auto;max-width:100%">
                                                            </a>
                                                            <div style="display:block;font-size:90%"></div>
                                                        </div>
                                                    </div>

                                                    <div class="paragraph" style="text-align:center;"><a href="https://www.ai3c.com.tw/264952721124215.html"><u>ai3C板橋店 營業時間</u></a><br><span>電話：(02)2966-0966</span></div>

                                                    <div class="paragraph" style="text-align:center;"><a href="https://goo.gl/maps/VonJSk53M4E1XoGHA" target="_blank">近高鐵/捷運 板橋車站<br><u>新北市板橋漢生西路13號</u></a></div>



                                                </td>
                                                <td class="wsite-multicol-col" style="width:15.988372093023%; padding:0 5px;">



                                                    <div>
                                                        <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:center">
                                                            <a href="https://www.ai3c.com.tw/">
                                                                <img src="CSS/1_17_orig.jpg" alt="ai3C新竹店店面照" style="width:auto;max-width:100%">
                                                            </a>
                                                            <div style="display:block;font-size:90%"></div>
                                                        </div>
                                                    </div>

                                                    <div class="paragraph" style="text-align:center;"><a href="https://www.ai3c.com.tw/260323148124215.html"><u>ai3C新竹店 營業時間</u></a><br>​<span>(03)575-3708</span></div>

                                                    <div class="paragraph" style="text-align:center;"><a href="https://goo.gl/maps/ih85atmiH49WUQTy5" target="_blank">近清大夜市/馬偕醫院<br><u>新竹市東區建中路75號</u></a></div>



                                                </td>
                                                <td class="wsite-multicol-col" style="width:15.891472868217%; padding:0 5px;">



                                                    <div>
                                                        <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:center">
                                                            <a>
                                                                <img src="CSS/ai3c_orig.jpg" alt="ai3C東區店" style="width:auto;max-width:100%">
                                                            </a>
                                                            <div style="display:block;font-size:90%"></div>
                                                        </div>
                                                    </div>

                                                    <div class="paragraph" style="text-align:center;"><a href="https://www.ai3c.com.tw/264812131224215.html"><u>ai3C東區店 營業時間</u></a><br><a href="https://www.ai3c.com.tw/">​</a><span>(02)2394-0013</span></div>

                                                    <div class="paragraph" style="text-align:center;"><a href="https://goo.gl/maps/MDyRiNeNaM1DT1BL8" target="_blank">合併至<u>ai3C八德店</u></a></div>



                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="wsite-spacer" style="height:10px;"></div>
                    </div>
                </div>
            </div><!-- end container -->
        </div><!-- end footer-wrap -->
    </div>

