

<div class="custom-page ng-isolate-scope" ga-page-view="">
    <div class="container global-primary container-full-width ">
        <div class="container-md-height" style="height: 100%; table-layout: fixed; width: 100%; margin-bottom: 2%; ">



            <!-- height and width must be difined for td to size correctly -->
            <div class="row row-md-height" style="height: 100%;">
                <!-- Rendering page grid items -->
                <div id="page-item-59ad1f0b9a76f017f500054c" class="item grid-image-item
              col-xs-12
              col-md-12
              col-md-height
              padding-h-none" style="vertical-align: top; height: 100%;">

                    <div style="height: 100%;">
                        <div class="box-info box-info-width-full" style="padding:0;">
                            <!-- Redner grid item partial -->

                            <div class="editor-boxify-image-wrapper boxify-image-wrapper image-container
    margin-bottomless
    ">
                                <img class="sl-lazy-image" src="https://shoplineimg.com/566a8670e37ec6b552000033/595b672e72fdc01f65001664/2000x.webp?source_format=jpg" alt="">


                            </div>

                            <!-- Redner grid item title -->
                            <!-- Redner grid item content -->
                            <!-- End of cache  -->
                            <!-- Rendering express checkout default content -->
                            <!-- End of rendering express checkout default content -->
                        </div>
                    </div>



                </div>
                <!-- End of rendering page grid items -->
            </div> <!-- End of row -->
        </div> <!-- End of container-md-height -->
    </div> <!-- End of container -->
    <div class="container global-primary  ">
        <div class="container-md-height" style="height: 100%; table-layout: fixed; width: 100%; margin-bottom: 2%; ">
            <!-- height and width must be difined for td to size correctly -->
            <div class="row row-md-height" style="height: 100%;">
                <!-- Rendering page grid items -->
                <div id="page-item-5ae6c4a610abb9ea7f0007d5" class="item grid-image-item
              col-xs-12
              col-md-12
              col-md-height
              " style="vertical-align: top; height: 100%;">
                    <div style="height: 100%;">
                        <div class="box-info " style="">
                            <!-- Redner grid item partial -->

                            <div class="editor-boxify-image-wrapper boxify-image-wrapper image-container
    margin-bottomless
    ">
                                <img class="sl-lazy-image" src="https://shoplineimg.com/566a8670e37ec6b552000033/5ae6c48c72fdc06c49000aad/1200x.webp?source_format=jpg" alt="">


                            </div>

                            <!-- Redner grid item title -->
                            <!-- Redner grid item content -->
                            <!-- End of cache  -->
                            <!-- Rendering express checkout default content -->
                            <!-- End of rendering express checkout default content -->
                        </div>
                    </div>
                </div>
                <!-- End of rendering page grid items -->
            </div> <!-- End of row -->
        </div> <!-- End of container-md-height -->
    </div> <!-- End of container -->
    <div class="container global-primary  ">
        <div class="container-md-height" style="height: 100%; table-layout: fixed; width: 100%; margin-bottom: 2%; ">
            <!-- height and width must be difined for td to size correctly -->
            <div class="row row-md-height" style="height: 100%;">
                <!-- Rendering page grid items -->
                <div id="page-item-59ad1f0b9a76f017f500054e" class="item grid-image-item
              col-xs-12
              col-md-12
              col-md-height
              " style="vertical-align: top; height: 100%;">
                    <div style="height: 100%;">
                        <div class="box-info " style="">
                            <!-- Redner grid item partial -->

                            <div class="editor-boxify-image-wrapper boxify-image-wrapper image-container
    margin-bottomless
    ">
                                <img class="sl-lazy-image" src="https://shoplineimg.com/566a8670e37ec6b552000033/5e4bd59f606450003c2c7d62/1200x.webp?source_format=jpg" alt="">


                            </div>

                            <!-- Redner grid item title -->
                            <!-- Redner grid item content -->
                            <!-- End of cache  -->
                            <!-- Rendering express checkout default content -->
                            <!-- End of rendering express checkout default content -->
                        </div>
                    </div>
                </div>
                <!-- End of rendering page grid items -->
            </div> <!-- End of row -->
        </div> <!-- End of container-md-height -->
    </div> <!-- End of container -->
    <div class="container global-primary  ">
        <div class="container-md-height" style="height: 100%; table-layout: fixed; width: 100%; margin-bottom: 2%; ">
            <!-- height and width must be difined for td to size correctly -->
            <div class="row row-md-height" style="height: 100%;">
                <!-- Rendering page grid items -->
                <div id="page-item-5cc428e1de93bb00291d77af" class="item grid-image-item
              col-xs-12
              col-md-12
              col-md-height
              " style="vertical-align: top; height: 100%;">
                    <div style="height: 100%;">
                        <div class="box-info " style="">
                            <!-- Redner grid item partial -->

                            <div class="editor-boxify-image-wrapper boxify-image-wrapper image-container
    margin-bottomless
    ">
                                <img class="sl-lazy-image" src="https://shoplineimg.com/566a8670e37ec6b552000033/5ed0fb1fb660ac003fefb135/1200x.webp?source_format=png" alt="">


                            </div>

                            <!-- Redner grid item title -->
                            <!-- Redner grid item content -->
                            <!-- End of cache  -->
                            <!-- Rendering express checkout default content -->
                            <!-- End of rendering express checkout default content -->
                        </div>
                    </div>
                </div>
                <!-- End of rendering page grid items -->
            </div> <!-- End of row -->
        </div> <!-- End of container-md-height -->
    </div> <!-- End of container -->
    <div class="container global-primary  ">
        <div class="container-md-height" style="height: 100%; table-layout: fixed; width: 100%; margin-bottom: 2%; ">
            <!-- height and width must be difined for td to size correctly -->
            <div class="row row-md-height" style="height: 100%;">
                <!-- Rendering page grid items -->
                <div id="page-item-5a1faee8080f065a7f0023dd" class="item grid-image-item
              col-xs-12
              col-md-12
              col-md-height
              " style="vertical-align: top; height: 100%;">
                    <div style="height: 100%;">
                        <div class="box-info " style="">
                            <!-- Redner grid item partial -->

                            <div class="editor-boxify-image-wrapper boxify-image-wrapper image-container
    margin-bottomless
    ">
                                <img class="sl-lazy-image" src="https://shoplineimg.com/566a8670e37ec6b552000033/5ed0fb32615bf04faae2a8d4/1200x.webp?source_format=png" alt="">


                            </div>

                            <!-- Redner grid item title -->
                            <!-- Redner grid item content -->
                            <!-- End of cache  -->
                            <!-- Rendering express checkout default content -->
                            <!-- End of rendering express checkout default content -->
                        </div>
                    </div>
                </div>
                <!-- End of rendering page grid items -->
            </div> <!-- End of row -->
        </div> <!-- End of container-md-height -->
    </div> <!-- End of container -->
    <div class="container global-primary  ">
        <div class="container-md-height" style="height: 100%; table-layout: fixed; width: 100%; margin-bottom: 2%; ">
            <!-- height and width must be difined for td to size correctly -->
            <div class="row row-md-height" style="height: 100%;">
                <!-- Rendering page grid items -->
                <div id="page-item-5a1faee8080f065a7f0023df" class="item grid-image-item
              col-xs-12
              col-md-12
              col-md-height
              " style="vertical-align: top; height: 100%;">
                    <div style="height: 100%;">
                        <div class="box-info " style="">
                            <!-- Redner grid item partial -->

                            <div class="editor-boxify-image-wrapper boxify-image-wrapper image-container
    margin-bottomless
    ">
                                <img class="sl-lazy-image" src="https://shoplineimg.com/566a8670e37ec6b552000033/5dee5de560b30a0033a5a007/1200x.webp?source_format=png" alt="">


                            </div>

                            <!-- Redner grid item title -->
                            <!-- Redner grid item content -->
                            <!-- End of cache  -->
                            <!-- Rendering express checkout default content -->
                            <!-- End of rendering express checkout default content -->
                        </div>
                    </div>
                </div>
                <!-- End of rendering page grid items -->
            </div> <!-- End of row -->
        </div> <!-- End of container-md-height -->
    </div> <!-- End of container -->
    <div class="container global-primary  ">
        <div class="container-md-height" style="height: 100%; table-layout: fixed; width: 100%; margin-bottom: 2%; ">
            <!-- height and width must be difined for td to size correctly -->
            <div class="row row-md-height" style="height: 100%;">
                <!-- Rendering page grid items -->
                <div id="page-item-5c52b24960f48e0012966eb2" class="item grid-image-item
              col-xs-12
              col-md-12
              col-md-height
              " style="vertical-align: top; height: 100%;">
                    <div style="height: 100%;">
                        <div class="box-info " style="">
                            <!-- Redner grid item partial -->

                            <div class="editor-boxify-image-wrapper boxify-image-wrapper image-container
    margin-bottomless
    ">
                                <img class="sl-lazy-image" src="https://shoplineimg.com/566a8670e37ec6b552000033/5ed0fcf8f3e915003f40e0de/1200x.webp?source_format=png" alt="">


                            </div>

                            <!-- Redner grid item title -->
                            <!-- Redner grid item content -->
                            <!-- End of cache  -->
                            <!-- Rendering express checkout default content -->
                            <!-- End of rendering express checkout default content -->
                        </div>
                    </div>
                </div>
                <!-- End of rendering page grid items -->
            </div> <!-- End of row -->
        </div> <!-- End of container-md-height -->
    </div> <!-- End of container -->
    <div class="container global-primary  ">
        <div class="container-md-height" style="height: 100%; table-layout: fixed; width: 100%; margin-bottom: 2%; ">
            <!-- height and width must be difined for td to size correctly -->
            <div class="row row-md-height" style="height: 100%;">
                <!-- Rendering page grid items -->
                <div id="page-item-5d235942bf28970020f2a397" class="item grid-image-item
              col-xs-12
              col-md-12
              col-md-height
              " style="vertical-align: top; height: 100%;">
                    <div style="height: 100%;">
                        <div class="box-info " style="">
                            <!-- Redner grid item partial -->

                            <div class="editor-boxify-image-wrapper boxify-image-wrapper image-container
    margin-bottomless
    ">
                                <img class="sl-lazy-image" src="https://shoplineimg.com/566a8670e37ec6b552000033/5d2358782add9300351f03ae/1200x.webp?source_format=jpg" alt="">


                            </div>

                            <!-- Redner grid item title -->
                            <!-- Redner grid item content -->
                            <!-- End of cache  -->
                            <!-- Rendering express checkout default content -->
                            <!-- End of rendering express checkout default content -->
                        </div>
                    </div>
                </div>
                <!-- End of rendering page grid items -->
            </div> <!-- End of row -->
        </div> <!-- End of container-md-height -->
    </div> <!-- End of container -->
    <div class="container global-primary  ">
        <div class="container-md-height" style="height: 100%; table-layout: fixed; width: 100%; margin-bottom: 2%; ">
            <!-- height and width must be difined for td to size correctly -->
            <div class="row row-md-height" style="height: 100%;">
                <!-- Rendering page grid items -->
                <div id="page-item-59ad1f0b9a76f017f500055e" class="item grid-image-item
              col-xs-12
              col-md-12
              col-md-height
              " style="vertical-align: top; height: 100%;">
                    <div style="height: 100%;">
                        <div class="box-info " style="">
                            <!-- Redner grid item partial -->

                            <div class="editor-boxify-image-wrapper boxify-image-wrapper image-container
    margin-bottomless
    ">
                                <a href="http://www.applebar.com.tw/pages/%E5%AE%85%E9%85%8D%E7%B6%AD%E4%BF%AE">
                                    <img class="sl-lazy-image" src="https://shoplineimg.com/566a8670e37ec6b552000033/57554dbc6170694db2f7a400/1200x.webp?source_format=jpg" alt="">

                                </a>

                            </div>

                            <!-- Redner grid item title -->
                            <!-- Redner grid item content -->
                            <!-- End of cache  -->
                            <!-- Rendering express checkout default content -->
                            <!-- End of rendering express checkout default content -->
                        </div>
                    </div>
                </div>
                <!-- End of rendering page grid items -->
            </div> <!-- End of row -->
        </div> <!-- End of container-md-height -->
    </div> <!-- End of container -->
    <div class="container global-primary  ">
        <div class="container-md-height" style="height: 100%; table-layout: fixed; width: 100%; margin-bottom: 2%; ">
            <!-- height and width must be difined for td to size correctly -->
            <div class="row row-md-height" style="height: 100%;">
                <!-- Rendering page grid items -->
                <div id="page-item-59ad1f0b9a76f017f5000560" class="item grid-image-item
              col-xs-12
              col-md-12
              col-md-height
              " style="vertical-align: top; height: 100%;">
                    <div style="height: 100%;">
                        <div class="box-info " style="">
                            <!-- Redner grid item partial -->

                            <div class="editor-boxify-image-wrapper boxify-image-wrapper image-container
    margin-bottomless
    ">
                                <a href="https://line.me/R/ti/p/%40pyb4674r">
                                    <img class="sl-lazy-image" src="https://shoplineimg.com/566a8670e37ec6b552000033/59ad07a072fdc0c5cb00ac93/1200x.webp?source_format=jpg" alt="">

                                </a>

                            </div>

                            <!-- Redner grid item title -->
                            <!-- Redner grid item content -->
                            <!-- End of cache  -->
                            <!-- Rendering express checkout default content -->
                            <!-- End of rendering express checkout default content -->
                        </div>
                    </div>
                </div>
                <!-- End of rendering page grid items -->
            </div> <!-- End of row -->
        </div> <!-- End of container-md-height -->
    </div> <!-- End of container -->
</div>

