@model IEnumerable<Web_AppleBar.Models.AppleRecycle_Mac>
@{
    Layout = "~/Views/Shared/_BackLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead class="thead-light">
                    <tr class="d-flex">
                        <th scope="col" class="col-1">#</th>
                        <th scope="col" class="col-10">Image</th>
                        <th scope="col" class="col-1">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="d-flex">
                            <th scope="row" class="col-1">@item.ID</th>
                            <td class="col-10">
                                <img src="@Url.Content("~/Resource/Img/" + @item.Img+".jpg")" />
                                <br />
                                <input type="file" value="上傳" />
                            </td>
                            <td class="col-1">
                                <input class="btn btn-primary my-1" type="button" value="更新" />
                                <br />
                                <input class="btn btn-danger my-1" type="button" value="刪除" />
                            </td>
                        </tr>
                    }

                    <tr class="table-secondary d-flex">
                        <th scope="row" class="col-1">#</th>
                        <td class="col-10">
                            <input type="file" />
                        </td>
                        <td class="col-1">
                            <input class="btn btn-primary my-1" type="button" value="新增" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>